*{
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
color: white;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 12px 16px;
  margin-left: 1000px;
  align-items: center;
}