*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color:#407132;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 12px 16px; 
    font-size: 25px;
}

.imagem1{
    width: 30%;
   
}

.frutas1{
    width: 30%;
}

.introducao{
    display: flex;
    justify-content: center;
    align-items: center;
padding: 24px 0 ;
}

.introd-div-conteudo{
    width: 45%;
}

.titulo-introducao{
    padding: 30px 0;
}
.texto-1{
    padding: 20px 0;
}