*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color:#407132;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 12px 16px; 
}

.imagem1{
    width: 30%;
}

.cabecalho-lista-item{
    display: inline-block;
}

